* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
.container {
  background-color: #c1deae;
}
nav {
  background-color: #2c3333;
  padding: 4px 0;
  background-color: #2c3333;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
}
.contact {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.header {
  text-align: center;
  margin-left: 5px;
}
